<!--TODO: Define click callback to load about me information-->
<button (click)="aboutme()" class="btn btn-light">Load info about me</button>
<!--TODO: replace ??? to bind to name-->
<h3 *ngIf="name != null">Logged in user: {{ name }}</h3>
<!--TODO: bind img src's to profile_pic-->
<img *ngIf="name != null" [src]="profile_pic">
<p>
	<!--TODO: bind link's href to profile_link-->
	<a *ngIf="profile_link != null" class="btn btn-light" target="_blank" [href]="profile_link" >Open profile on Spotify</a>	
</p>