.content{
    width: 100%;
    text-align: center;
    
}
.green{
    color:green !important;
}
.red{
    color:red;
}
.restart{
    text-align: center;
}
#restart{
    background-color: purple;
    color:white;
    display: table;
    padding: 4px 10px;
    margin: 14px auto;
}
#back{
    background:none;
    border:none;
    text-decoration: underline;
}
#restart,#back{
    width: 70%;
    text-align: center;
}
#navbtn{
    text-align: center;
    display: block;
}
.greenbg{
    background-color: green;
    color:white
}
.redbg{
    background-color: red;
    color:white;
}
.content .option
{
    border:1px solid;
    display: block;
    margin: 12px 10px;
    background-color: white;
    -webkit-appearance: none;
}
.content .col-5:focus{
outline: none;
}
.content #right{
    
}
.label{
    display: block;
    margin: 0 0px;
}

.content .focusBtn{
   background-color: blueviolet;
   color:white !important;
}
.option{
    padding: 40px 20px;
    border:15px solid blueviolet;
    color:blueviolet
}
#left{
    
}