.content{
    width: 100%;
    text-align: center;
    
}
.green{
    color:green !important;
}
.red{
    color:red;
}
.content .option
{
    border:1px solid;
    display: block;
    margin: 12px 10px;
    background-color: white;
    -webkit-appearance: none;
}
.content .col-5:focus{
outline: none;
}
.content #right{
    
}
.label{
    display: block;
    margin: 0 10px;
}

.content .focusBtn{
   background-color: blueviolet;
   color:white;
}