<div class="row">
	<div class="col-4">
		<app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
		<div [innerHTML]="gesture"></div>
	
	<div>
		<h5>Use hand gestures to control the app!</h5>
		<p>
			<b>Pointing hand</b> - Play a random track
		</p>
		<p>
			<b>Closed hand</b> - Pause the current track
		</p>
		<p>
			<b>Open hand</b> - Resume the current track
		</p>
		<p>
			<b>Two Open Hands</b> - Go to track's page
		</p>
		
	</div>


	</div>
	<!--<app-search class="col-8"></app-search>-->
	<div class="col-8">
		<button type="button" (click)="nextsong()" id="shuffle">Shuffle <span class="material-icons-outlined dice">
			casino
			</span>
			</button>
		<h2 [innerHTML]="songtitle"></h2>
		
		<button type="button" (click)="resumesong()" *ngIf="!playing" class="btn-circle btn-xl"><span class="material-icons control">
			play_arrow
			</span></button>
		<button type="button" (click)="stopsong()" *ngIf="playing" class="btn-circle btn-xl"><span class="material-icons control">
			pause
			</span></button>
			<br>
		<a *ngIf="current != null" [href]="'./track/' + current['id']" > Like the song? Click for more info on it</a> 
	
	</div>
</div>

